@import "tailwindcss";

/* *{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
} */

#root {
  margin: 0%;
  padding: 0%;
  background-color: black;
}

.bg-image {
  width: 100%;
  height: 100vh;
}

.containerbox {
  margin: 0%;
  width: 100%;
  height: 100vh;
  border: 2px solid red;
}